.searchBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./background_search_desktop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 25rem;
}

.searchbarSortOptions ul{
    display: flex;
    justify-content: center;
}

.searchbarSortOptions li{
    padding-right: 30px;
    list-style-type: none;
    color: white;
    font-weight: bold;
}

.searchFields {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.searchFields input {
    width: 21rem;
    padding: 0.66rem 1rem;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: 0.77rem;
    font-weight: 500;
}

.searchFields input:first-child {
    margin-right: 2.22rem;
}


.searchBtn {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.searchBtn button {
    appearance: none;
    border-radius: 4px;
    padding: 0.72rem 1.7rem;
    background-color: #cca353;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    border: none;
}

.searchBtn button:hover {
    cursor: pointer;
    background-color: #a7874b;
  }

/* .searchBtn a {
    border-radius: 4px;
    padding: 0.72rem 1.7rem;
    background-color: #cca353;
    color: #ffffff;
    font-weight: 600;
}

.searchBtn a:hover {
    cursor: pointer;
    background-color: #a7874b;
  } */