.header {
  display: flex;
  background-color: goldenrod;
  justify-content: center;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* .header h2{  
  padding-top: 0px;
} */
